S3method(plot,AdaDTN_model)
S3method(predict,AdaDTN_model)
S3method(print,AdaDTN_model)
S3method(print,summary.AdaDTN_model)
S3method(summary,AdaDTN_model)

export(AdaDTN_cv)
export(AdaDTN_fit)
export(AdaDTN_param_grid)
export(AdaDTN_tune)
export(get_AdaDTN_features)
export(get_AdaDTN_input_basis)
export(get_AdaDTN_intercept)
export(get_AdaDTN_scores)
export(get_AdaDTN_surface)
export(plot_AdaDTN_surface)
export(simulate_AdaDTN_data)

importFrom(goffda,r_ou)
importFrom(graphics,legend,matplot,plot,title)
importFrom(plot3D,persp3D)
importFrom(stats,predict,quantile,rnorm,sd,setNames,smooth.spline)
importFrom(torch,cuda_is_available)
importFrom(torch,nn_dropout)
importFrom(torch,nn_init_xavier_uniform_)
importFrom(torch,nn_linear)
importFrom(torch,nn_module)
importFrom(torch,nn_module_list)
importFrom(torch,nn_parameter)
importFrom(torch,nnf_elu)
importFrom(torch,nnf_leaky_relu)
importFrom(torch,nnf_mse_loss)
importFrom(torch,nnf_relu)
importFrom(torch,nnf_selu)
importFrom(torch,optim_adam)
importFrom(torch,torch_abs)
importFrom(torch,torch_cat)
importFrom(torch,torch_empty)
importFrom(torch,torch_eye)
importFrom(torch,torch_float)
importFrom(torch,torch_load)
importFrom(torch,torch_matmul)
importFrom(torch,torch_mean)
importFrom(torch,torch_ones)
importFrom(torch,torch_save)
importFrom(torch,torch_sigmoid)
importFrom(torch,torch_sqrt)
importFrom(torch,torch_sum)
importFrom(torch,torch_tanh)
importFrom(torch,torch_tensor)
importFrom(torch,torch_zeros)
importFrom(torch,with_no_grad)
importFrom(utils,tail)
